.grid-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr));
}

a, h1 {
    text-decoration: none;
    color:black
}

tr:nth-child(even) {
    background-color: #FADCD2;
}

h1,  h3 > a {
    color: rgb(95, 40, 78);
}
/* .is-darkbrown {
    color: rgb(95, 40, 78);
} */
#is-babypink {
    background-color: #d086b0;
    color:aliceblue;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#is-beige {
    background-color: rgba(191, 130, 116, 1);
    color:aliceblue;
    display: inline-block;
    width: 100%;
    height: 100%;
}
a:hover {
    background-color: palevioletred;

}
body {
    box-sizing: border-box;
}
main {
    padding: 16px;
}

footer {
    padding: 25px;
    font-size: 18px;
}

img {
    height: 200px;
}

nav{
    border-bottom: 1px solid rgb(157, 117, 126);
    padding: 16px;
}
